<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prography.playeasy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:name=".application.PlayeasyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/mAppTheme">

        <activity android:name=".landing.activity.Landing">

        </activity>
        <activity android:name=".main.activity.BeforeLoginMain"/>
        <activity android:name=".login.activity.LoginActivity"/>
        <activity android:name=".main.activity.Main"/>
        <activity android:name=".match.activity.MatchCreate"/>
        <activity android:name=".mypage.activity.Mypage"/>

        <activity android:name=".mypage.activity.UserInformationActivity"/>
        <activity android:name=".match.activity.TeamInformation"/>

        <activity android:name=".match.activity.MatchDetail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mypage.activity.PushActivity"/>
        <activity android:name=".mypage.activity.MyMatch"/>
        <activity android:name=".push.activity.MyMatchInformation"/>
        <service
            android:name=".lib.firebase.FirebaseMessageService"
            android:exported="true"
            android:enabled="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/KAKAO_SDK_KEY"/>
    </application>

</manifest>